@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
  @apply text-default-color;
  @apply font-saira;
  @apply uppercase;
  @apply font-semibold;
  @apply leading-none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.5rem;
  @apply mb-12;
}

h3 {
  font-size: 2rem;
  @apply mb-2;
}

h4 {
  font-size: 1.5rem;
  @apply opacity-60;
  @apply mb-4;
}

p {
  @apply text-default-color;
  @apply opacity-60;
  @apply mb-4;
}

a {
  @apply text-impact-color;
}

svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.section {
  max-width: 75rem;
  @apply min-h-screen;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply px-3;
  @apply py-20;
}

.section-flex {
  @apply mb-12;
  @apply flex;
  @apply flex-col;
  @apply justify-between;
}

.section-flex > span {
  @apply flex-shrink-0;
  @apply w-64;
  @apply text-impact-color;
  @apply text-left;
}

@screen md {
  .section {
    @apply p-12;
  }
  .section-flex {
    @apply flex-row;
  }
  .section-flex > span {
    @apply text-right;
  }
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  @apply inline-block;
  @apply text-2xl;
  @apply text-white;
  @apply text-center;
  @apply bg-default-color;
  @apply rounded-full;
  @apply mr-4;
}
