@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Saira Extra Condensed;
  src: url(/google-fonts/s/sairaextracondensed/v5/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj6Ej0.woff2)
    format("woff2");
}

h1,
h2,
h3,
h4 {
  @apply text-default-color;
  @apply font-saira;
  @apply uppercase;
  @apply font-bold;
  @apply leading-none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.5rem;
  @apply mb-12;
}

h3 {
  font-size: 2rem;
  @apply mb-2;
}

h4 {
  font-size: 1.5rem;
  @apply opacity-60;
  @apply mb-4;
}

p {
  @apply text-default-color;
  @apply opacity-60;
  @apply mb-4;
}

a {
  @apply text-impact-color;
}

.section {
  max-width: 75rem;
  @apply min-h-screen;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply px-3;
  @apply py-20;
}

@screen md {
  .section {
    @apply p-12;
  }
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  @apply inline-block;
  @apply text-2xl;
  @apply text-white;
  @apply text-center;
  @apply bg-default-color;
  @apply rounded-full;
  @apply mr-4;
}
